* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    max-width: 500px; /* ajusta según tu logo */
    width: 100%;
}